﻿@model LiteCommerceAdmin.Models.ProductPaginationResult
@{
    ViewBag.Title = "Manage Products";
    int i = 0;
    string search = "";
    if (!string.IsNullOrEmpty(Model.Category))
    {
        search = "&category=" + Model.Category;
    }

    if (!string.IsNullOrEmpty(Model.Supplier))
    {
        search += "&supplier=" + Model.Supplier;
    }

    if (!string.IsNullOrEmpty(Model.SearchValue))
    {
        search += "&searchvalue=" + Model.SearchValue;
    }

}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Product" method="get">

            <div class="row">
                <div class="col-sm-3">

                    @Html.DropDownListFor(m => m.Category, SelectListHelper.Categories(), new { @class = "form-control" })
                    @*@foreach (var cat in SelectListHelper.Categories())
                        {
                            <option value="@cat.Value">@cat.Text</option>
                        }*@

                </div>
                <div class="col-sm-3">

                    @Html.DropDownListFor(m => m.Supplier, SelectListHelper.Suppliers(), new { @class = "form-control" })
                    @*@foreach (var sup in SelectListHelper.Suppliers())
                        {
                            <option value="@sup.Value">@sup.Text</option>
                        }*@

                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.SearchValue, new { @class = "form-control", @placeholder = "Input search value..." })

                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>

                    </div>
                </div>

            </div>
            <!-- /btn-group -->
            @*<input value="@Model.SearchValue" name="searchValue" type="text" class="form-control" placeholder="Input search value...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>*@


        </form>
    </div>
</div>

<form method="post" action="~/Product/Delete">
    <div class="container-fluid row" style="margin-bottom:10px">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Products. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Product/Input" class="btn btn-sm btn-primary">Add Product</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Products</button>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách Product</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">
                        <input type="checkbox" id="selectAll" />
                    </th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>UnitPrice</th>
                    <th>Quantity Per Unit</th>
                    <th>Action</th>
                </tr>
                <tr>
                    @foreach (var Product in Model.Data)
            {
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" name="productIds" value="@Product.ProductID" />
                        </td>
                        <td>

                            <img src="@Product.PhotoPath" class="rounded thumbnail" alt="..." height="100" width="auto">
                        </td>
                        <td>
                            @Product.ProductName
                        </td>

                        <td>
                            @Product.UnitPrice
                        </td>

                        <td>
                            @Product.QuantityPerUnit
                        </td>

                        <td>
                            <a class="btn btn-sm btn-default" href="~/Product/Input/@Product.ProductID/">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    }
                    </tr>

                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">

                    @if (Model.Page > 1)
            {
                        <li><a href="~/Product?page=@(Model.Page - 1)@search">&laquo;</a></li>

                    }
                    @if (Model.Page > 3)
            {
                        <li><a href="~/Product?page=1@(search)">1</a></li>
                        <li class="dots"><a href="#">...</a></li>
                    }
                    @if (Model.Page - 2 > 0)
            {
                        <li><a href="~/Product?page=@(Model.Page-2)@search">@(Model.Page - 2)</a></li>
                    }
                    @if (Model.Page - 1 > 0)
            {
                        <li><a href="~/Product?page=@(Model.Page-1)@search">@(Model.Page - 1)</a></li>
                    }
                    <li class="active"><a href="~/Product?page=@Model.Page@search">@Model.Page</a></li>
                    @if (Model.Page + 1 < Model.PageCount + 1)
            {
                        <li><a href="~/Product?page=@(Model.Page+1)@search">@(Model.Page + 1)</a></li>
                    }
                    @if (Model.Page + 2 < Model.PageCount + 1)
            {
                        <li><a href="~/Product?page=@(Model.Page+2)@search">@(Model.Page + 2)</a></li>
                    }
                    @if (Model.Page < Model.PageCount - 2)
            {
                        <li class="dots"><a href="#">...</a></li>
                        <li><a href="~/Product?page=@Model.PageCount@search">@Model.PageCount</a></li>
                    }
                    @*@for (int page = 1; page <= model.pagecount; page++)
                        {

                        if (model.page == page)
                        {
                        <li class="active"><a href="~/Product?page=@page@search">@page</a></li>
                        }
                        else
                        {
                        <li><a href="~/Product?page=@page@search">@page</a></li>
                        }


                        }*@
                    @if (Model.Page < Model.PageCount)
            {
                        <li><a href="~/Product?page=@(Model.Page + 1)@search">&raquo;</a></li>
                    }

                </ul>
            </div>
        </div>
    </form>
