﻿

@model LiteCommerce.DomainModels.Product
<div class="row">
    <form role="form" method="post" action="~/Product/Input" enctype="multipart/form-data">
        <div class="col-sm-8">
            <div class="box box-primary">
                <input type="hidden" id="ProductID" value="@Model.ProductID" name="ProductID" />
                <div class="box-header text-right">
                    <a href="~/Product">Back to List</a>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Product Name: @Html.ValidationMessage("ProductName", new { @style = "color: red" })</label>
                        <input type="text" value="@Model.ProductName" class="form-control" placeholder="Enter Product Name" name="ProductName">
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Quantity Per Unit: @Html.ValidationMessage("QuantityPerUnit", new { @style = "color: red" })</label>
                            <input type="text" value="@Model.QuantityPerUnit" class="form-control" placeholder="ex :Quantity Per Unit" name="QuantityPerUnit">
                        </div>
                        <div class="col-sm-6">
                            <label>Unit Price: @Html.ValidationMessage("UnitPrice", new { @style = "color: red" })</label>
                            <input type="number" value="@Model.UnitPrice" class="form-control" placeholder="Ex: 100" name="UnitPrice">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description: @Html.ValidationMessage("Descriptions", new { @style = "color: red" })</label>
                        <textarea class="form-control" rows="8" placeholder="..." name="Descriptions">@Model.Descriptions</textarea>
                    </div>
                    <div class="form-group">
                        <label>Product Attributes : @Html.ValidationMessage("ProductAttribute", new { @style = "color: red" })</label>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 300px;">Name Attribute</th>
                                    <th>Value Attribute</th>
                                    <th class="text-center" style="width: 90px;">
                                        <button type="button" class="btn-add btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="container-items tableForm">
                                @{
                                    if (Model.ProductAttributes != null)
                                    {
                                        foreach (LiteCommerce.DomainModels.ProductAttribute attr in Model.ProductAttributes)
                                        {
                                            <tr class="controls">
                                                <td class="vcenter">
                                                    <div class="form-group required">
                                                        <select class="form-control" name="keyAttr[]" id="selectboxKeyAttr">
                                                            @{ foreach (LiteCommerce.DomainModels.Attribute data in SelectListHelper.Attributes(Model.CategoryID))
                                                                {
                                                                    if (attr.AttributeID == data.AttributeID)
                                                                    {
                                                                        <option value="@data.AttributeID" selected>@data.AttributeName</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@data.AttributeID">@data.AttributeName</option>
                                                                    }
                                                                }}
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group required">
                                                        <input class="form-control" value="@attr.AttributeValue" name="nameAttr[]" placeholder="Product Attribute Description" />
                                                    </div>
                                                </td>
                                                <td class="text-center vcenter" style="width: 90px; ">
                                                    <button type="button" class="btn-remove btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
                                                </td>
                                            </tr>
                                                                    }
                                                                }

                                }
                                @{
                                    if (Model.ProductAttributes == null)
                                    {
                                        <tr  class="controls">
                                            <td class="vcenter">
                                                <div class="form-group required">
                                                    <select  class="form-control" name="keyAttr[]" id="selectboxKeyAttr">
                                                        <option value="">---Name Attribute---</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group required">
                                                    <input class="form-control" name="nameAttr[]" placeholder="Product Attribute Description" />
                                                </div>
                                            </td>
                                            <td class="text-center vcenter" style="width: 90px; ">
                                                <button type="button" class="btn-remove btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>


                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <a class="btn btn-sm btn-default" href="~/Product">
                        Cancel
                    </a>
                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3>Chi tiết sản phẩm</h3>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Supplier: @Html.ValidationMessage("SupplierID", new { @style = "color: red" })</label>
                            <select class="form-control" name="SupplierID">
                                @foreach (var sup in SelectListHelper.Suppliers())
                                {
                                    if (Model.SupplierID == Convert.ToInt32(sup.Value))
                                    {
                                        <option selected value="@sup.Value">@sup.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@sup.Value">@sup.Text</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col-sm-12 mt-2">
                            <label>Category: @Html.ValidationMessage("CategoryID", new { @style = "color: red" })</label>
                            <select id="selectboxCategories" class="form-control" name="CategoryID">
                                @foreach (var cat in SelectListHelper.Categories())
                                {
                                    if (Model.CategoryID == Convert.ToInt32(cat.Value))
                                    {
                                        <option selected value="@cat.Value">@cat.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@cat.Value">@cat.Text</option>
                                    }
                                }
                            </select>

                        </div>

                    </div>
                    <div class="form-group">
                        <label>Image Product: @Html.ValidationMessage("PhotoPath", new { @style = "color: red" })</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-link"></i>
                            </div>
                            <input type="file" class="form-control" name="PhotoPath" id="imgInp">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                @{ if (Model.PhotoPath == null)
                                    {
                                        <img id="blah" src="https://via.placeholder.com/150" class="rounded thumbnail" alt="...">
                                    }
                                    else
                                    {
                                        <img id="blah" src="@Model.PhotoPath" class="rounded thumbnail" alt="..." height="150" width="150">
                                    }
                                }
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</div>
