﻿@model LiteCommerceAdmin.Models.EmployeePassword
@{

}
<div class="box box-primary">
    <form role="form" action="~/Employee/ChangePassword" method="post">
        <div class="box-header text-right">
            <a href="~/Employee/Input/@Model.Id">Back</a>
        </div>
        <div class="box-body">
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="Email" value="@Model.Email" />
            <div class="form-group">

                <label>Old Password: @Html.ValidationMessage("OldPass", new { @style = "color: red" })</label>
                <input type="password" class="form-control" placeholder="Old password" name="OldPass">
            </div>
            <div class="form-group">
                <label>New Password: @Html.ValidationMessage("NewPass", new { @style = "color: red" })</label>
                <input type="password" class="form-control" placeholder="New password" name="NewPass">
            </div>
            <div class="form-group">

                <label>Confirm Password: @Html.ValidationMessage("ConfirmPass", new { @style = "color: red" })</label>
                <input type="password" class="form-control" placeholder="Password" name="ConfirmPass">
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Employee/Input">
                Cancel
            </a>
        </div>
    </form>
</div>