﻿@model LiteCommerce.DomainModels.Employee
@{

}
<form role="form" action="~/Employee/Input" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3>Ảnh Nhân Viên</h3>
                </div>
                <div class="box-body box-profile">
                    <div class="avatar-wrapper">
                        @{if (Model.PhotoPath != null)
                            {
                                <img class="profile-pic" src="@Model.PhotoPath" />
                            }
                            else
                            {
                                <img class="profile-pic" src="#" />
                            } }
                        
                        <div class="upload-button">1
                            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                        </div>
                        <input value="@Model.PhotoPath" class="file-upload" type="file" accept="image/*" name="PhotoPath" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="box box-primary">

                <div class="box-header">
                    <h3>Thông tin chi tiết</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <input type="hidden" value="@Model.EmployeeID" name="EmployeeID" />
                        <label>Title: @Html.ValidationMessage("Title", new { @style = "color: red" })</label>
                        <input type="text" class="form-control" placeholder="Ex: Sale Manager" value="@Model.Title" name="Title">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Fist Name:@Html.ValidationMessage("FirstName", new { @style = "color: red" })</label>
                            <input type="text" class="form-control" placeholder="Fist Name" value="@Model.FirstName" name="FirstName">
                        </div>
                        <div class="col-sm-6">
                            <label>Last Name:@Html.ValidationMessage("LastName", new { @style = "color: red" })</label>
                            <input type="text" class="form-control" placeholder="Enter Last Name" value="@Model.LastName" name="LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address:</label>
                        <input type="text" class="form-control" placeholder="Address" value="@Model.Address" name="Address">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Country:</label>
                            <select class="form-control" name="Country">
                                <option value="">-- Choose Country --</option>
                                @foreach (var country in SelectListHelper.Countries())
                                {
                                    if (Model.Country == country.Value)
                                    {
                                        <option value="@country.Value" selected>@country.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@country.Value">@country.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label>City:</label>
                            <input type="text" class="form-control" placeholder="Ex: New Orleans" value="@Model.City" name="City">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Birth Date:@Html.ValidationMessage("BirthDate", new { @style = "color: red" })</label>
                            <input type="datetime" class="form-control" value="@Model.BirthDate" name="BirthDate">
                        </div>
                        <div class="col-sm-6">
                            <label>Hire Date:@Html.ValidationMessage("HireDate", new { @style = "color: red" })</label>
                            @*<input type="datetime" class="form-control" value="@Model.HireDate" name="HireDate">*@
                            <input type="datetime" class="form-control" value="@Model.HireDate" name="HireDate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>HomePhone:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" name="HomePhone" value="@Model.HomePhone">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Email:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <input type="text" class="form-control" value="@Model.Email" name="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Notes:</label>
                            <input type="text" class="form-control" placeholder="notes" value="@Model.Notes" name="Notes">
                        </div>
                        <div class="col-sm-6">
                            <label>Roles:@Html.ValidationMessage("Password", new { @style = "color: red" })</label>
                            <select name="roles[]" class="form-control select2" multiple="multiple" data-placeholder="Select a role" data-allow-clear="true"
                                    style="width: 100%; text-decoration-color:red!important">
                                @{
                                    if (Model.roles != null)
                                    {
                                        foreach (string roleType in SelectListHelper.ListUserRoleTypes())
                                        {
                                            if (Model.roles.Contains(roleType))
                                            {
                                                <option value="@roleType" selected>@roleType</option>
                                            }
                                            else
                                            {
                                                <option value="@roleType">@roleType</option>
                                            }

                                        }
                                    }
                                    else
                                    {
                                        foreach (string roleType in SelectListHelper.ListUserRoleTypes())
                                        {
                                            <option value="@roleType">@roleType</option>
                                        }
                                    }
                                }


                            </select>

                        </div>
                        <div class="col-sm-12">
                            <label>Password:</label>
                            <input type="password" class="form-control" placeholder="Password" value="@Model.Password" name="Password">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Html.ValidationMessage("", new { @style = "color: red" })
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-save"></i> Save
                    </button>
                    @if (Model.EmployeeID != 0)
            {
                        <a class="btn btn-sm btn-success" href="~/Employee/ChangePassword/@Model.EmployeeID">
                            Change Password
                        </a>
                    }

                    <a class="btn btn-sm btn-default" href="~/Employee">
                        Cancel
                    </a>
                </div>

            </div>
        </div>
    </div>

</form>
