﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <form role="form" method="post" action="~/Order/Create">
        <div class="box-header text-right">
            <a href="~/Country">Back to List</a>
        </div>
        <div class="box-body">
            <div class="form-group row">
                <div class="col-sm-4">
                    <label>Employee: </label>
                    <input type="text"  class="form-control" placeholder="Contact Name">
                </div>
                <div class="col-sm-4">
                    <label>Customer:</label>
                    <input type="text" class="form-control" placeholder="Ex: Sale Manager">
                </div>
                <div class="col-sm-4">
                    <label>Shipper:</label>
                    <input type="text" class="form-control" placeholder="Ex: Sale Manager">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4">
                    <label>Order Date: </label>
                    <input type="text" class="form-control" placeholder="Contact Name">
                </div>
                <div class="col-sm-4">
                    <label>Shipped Date:</label>
                    <input type="text" class="form-control" placeholder="Ex: Sale Manager">
                </div>
                <div class="col-sm-4">
                    <label>Required Date:</label>
                    <input type="text" class="form-control" placeholder="Ex: Sale Manager">
                </div>
            </div>
            <div class="form-group">
                <label>Ship Address:</label>
                <input type="text" class="form-control" placeholder="Enter CountryName ">
            </div>
            <div class="form-group">
                <label>Ship City:</label>
                <input type="text" class="form-control" placeholder="Enter CountryName ">
            </div>
            <div class="form-group">
                <label>Ship Country:</label>
                <input type="text" class="form-control" placeholder="Enter CountryName ">
            </div>
            <div class="form-group">
                <label>Freight:</label>
                <input type="text" class="form-control" placeholder="Enter CountryName ">
            </div>
            <div class="form-group row">
               
                <div class="col-sm-4">
                    <label>Unit Price:</label>
                    <input type="text" class="form-control" placeholder="Ex: Sale Manager">
                </div>
                <div class="col-sm-4">
                    <label>Quantity:</label>
                    <input type="text" class="form-control" placeholder="Ex: Sale Manager">
                </div>
                <div class="col-sm-4">
                    <label>Discount: </label>
                    <input type="text" class="form-control" placeholder="Contact Name">
                </div>
            </div>
            
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Order">
                Cancel
            </a>
        </div>
    </form>
</div>

