﻿@model LiteCommerceAdmin.Models.OrderPaginationResult
@{
    ViewBag.Title = "Manage Orders";
    string search;
    if (!string.IsNullOrEmpty(Model.SearchValue))
    {
        search = string.Format("&searchValue={0}", Model.SearchValue);
    }
    else
    {
        search = "";
    }
}
<div class="box box-primary">
    <div class="box-body">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Input search value...">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="container-fluid row" style="margin-bottom:10px;">
    <div class="col-sm-8">
        There are <b>@Model.RowCount</b> Orders. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
    </div>
    
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:30px">
                        <input type="checkbox" id="selectAll"/>
                    </th>
                    <th style="width:auto">Order</th>
                    <th style="width:auto">Status</th>
                    <th style="width:auto">Purchased</th>
                    <th style="width:200px">Ship to</th>
                    <th style="width:200px">Total</th>
                    <th style="width:80px">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Order in Model.Data)
            {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            <span style="color:#0094ff; font-weight:bold; display:block">
                                #@Order.OrderID
                            </span>
                            <span style="color:#646464">
                                By:
                            </span>
                            <span style="color:#646464;font-weight:bold">
                                @Order.Customer.CompanyName
                            </span>
                        </td>
                        <td>
                            <span style="color:#0094ff; font-weight:bold; display:block">
                                @Order.Status
                            </span>
                            
                        </td>
                        <td>
                            
                                @{ if (Order.OrderDetails.Count >= 2)
                                    {
                                        <span style="color:#0094ff; font-weight:bold; display:block">
                                            @Order.OrderDetails.Count items
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="color:#0094ff; font-weight:bold; display:block">
                                            @Order.OrderDetails.Count item
                                        </span>
                                    }
                                }
                                        
                        </td>
                        
                        <td>
                            <span style="display:block"><i class="fa fa-address-card"></i> @Order.ShipAddress</span>
                            <span style="display:block">City: @Order.ShipCity</span>
                            <span style="display:block">Country:  @Order.ShipCountry</span>
                        </td>
                        <td>
                            <span style="color:#0094ff; font-weight:bold; display:block">
                                @Order.Total
                            </span>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-default" href="~/Order/Input/@Order.OrderID/">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix text-center">
        <ul class="pagination pagination-sm no-margin pull-right">

            @if (Model.Page > 1)
            {
                <li><a href="~/Order?page=@(Model.Page - 1)@search">&laquo;</a></li>

            }
            @if (Model.Page > 3)
            {
                <li><a href="~/Order?page=1@(search)">1</a></li>
                        <li class="dots"><a href="#">...</a></li>
            }
            @if (Model.Page - 2 > 0)
            {
                <li><a href="~/Order?page=@(Model.Page-2)@search">@(Model.Page - 2)</a></li>
            }
            @if (Model.Page - 1 > 0)
            {
                <li><a href="~/Order?page=@(Model.Page-1)@search">@(Model.Page - 1)</a></li>
            }
            <li class="active"><a href="~/Order?page=@Model.Page@search">@Model.Page</a></li>
            @if (Model.Page + 1 < Model.PageCount + 1)
            {
                <li><a href="~/Order?page=@(Model.Page+1)@search">@(Model.Page + 1)</a></li>
            }
            @if (Model.Page + 2 < Model.PageCount + 1)
            {
                <li><a href="~/Order?page=@(Model.Page+2)@search">@(Model.Page + 2)</a></li>
            }
            @if (Model.Page < Model.PageCount - 2)
            {
                <li class="dots"><a href="#">...</a></li>
                        <li><a href="~/Order?page=@Model.PageCount@search">@Model.PageCount</a></li>
            }
            @*@for (int page = 1; page <= model.pagecount; page++)
            {

            if (model.page == page)
            {
            <li class="active"><a href="~/Order?page=@page@search">@page</a></li>
            }
            else
            {
            <li><a href="~/Order?page=@page@search">@page</a></li>
            }


            }*@
            @if (Model.Page < Model.PageCount)
            {
                <li><a href="~/Order?page=@(Model.Page + 1)@search">&raquo;</a></li>
            }

        </ul>

    </div>
</div>
