﻿
@model LiteCommerce.DomainModels.Order
<div class="row">
    <div class="col-sm-4">
        <div class="col-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3>Customer Information</h3>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-user"></i>Company Name</strong>
                    <p class="text-muted">@Model.Customer.CompanyName</p>
                    <hr />
                    <strong>Contact Title</strong>
                    <p class="text-muted">@Model.Customer.ContactTitle</p>
                    <hr />
                    <strong>Contact Name</strong>
                    <p class="text-muted">@Model.Customer.ContactName</p>
                    <strong>Phone</strong>
                    <p class="text-muted">@Model.Customer.Phone</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3>SHIPPING ADDRESS</h3>
                </div>
                <div class="box-body">
                    <strong><i class="fa fa-address-card"></i> Address</strong>
                    <p class="text-muted">@Model.ShipAddress</p>
                    <hr />
                    <strong>City</strong>
                    <p class="text-muted">@Model.ShipCity</p>
                    <hr />
                    <strong>Country</strong>
                    <p class="text-muted">@Model.ShipCountry</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-car"></i>   #@Model.OrderID
                        <small class="pull-right">Date: 2/10/2014</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <b>Employee</b>
                    <address>
                        <strong>@Model.Employee.FirstName @Model.Employee.LastName</strong><br>
                        @Model.Employee.Address<br>
                        @Model.Employee.City<br>
                        Phone: @Model.Employee.HomePhone<br>
                        Email: @Model.Employee.Email
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    To
                    <address>
                        <strong>@Model.Customer.CompanyName</strong><br>
                        @Model.Customer.Address<br>
                        @Model.Customer.City<br>
                        Phone: @Model.Customer.Phone<br>
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Order #@Model.OrderID</b><br>
                    <br>
                    <b>Order ID:</b> @Model.OrderID<br>
                    <b>Order Day:</b> @Model.OrderDate<br>
                   
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Quantity</th>
                                <th>Product</th>
                                <th>Images Product</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                          @{ foreach (var ord in Model.OrderDetails) {
                                  <tr>
                                      <td>
                                          @ord.Quantity
                                      </td>
                                      <td>
                                          @ord.Product.ProductName
                                      </td>
                                      <td>
                                          <img src="@ord.Product.PhotoPath" class="img-thumbnail" width="150"/>
                                      </td>
                                      <td>
                                          @ord.UnitPrice
                                      </td>
                                      <td>
                                          @ord.Discount

                                      </td>
                                      <td>
                                          @ord.subTotal
                                      </td>
                                  </tr>

                              }
                          }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    <p class="lead">Payment Methods:</p>
                    <img src="~/Themes/AdminLTE/dist/img/credit/visa.png" alt="Visa">
                    <img src="~/Themes/AdminLTE/dist/img/credit/mastercard.png" alt="Mastercard">
                    <img src="~/Themes/AdminLTE/dist/img/credit/american-express.png" alt="American Express">
                    <img src="~/Themes/AdminLTE/dist/img/credit/paypal2.png" alt="Paypal">
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg
                        dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <p class="lead">Amount Due @Model.OrderDate</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th style="width:50%">Subtotal:</th>
                                <td>@Model.Total</td>
                            </tr>
                            
                            <tr>
                                <th>Shipping:</th>
                                <td>@Model.Freight.ToString("c")</td>
                            </tr>
                            <tr>
                                <th><h3 class="text-green">Total :</h3></th>
                                <td><h3 class="text-green">@Model.TotalShipped</h3></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">
                    <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
                    <button type="button" class="btn btn-success pull-right">
                        <i class="fa fa-credit-card"></i> Submit Payment
                    </button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                        <i class="fa fa-download"></i> Generate PDF
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>
