﻿@model LiteCommerceAdmin.Models.CategoryPaginationResult
@{
    ViewBag.Title = "Manage Categories";
    int i = 0;
    string search;
    if (!string.IsNullOrEmpty(Model.SearchValue))
    {
        search = string.Format("&searchValue={0}", Model.SearchValue);
    }
    else
    {
        search = "";
    }
}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Category" method="get">
            <div class="input-group input-group-sm">

                <input value="@Model.SearchValue" name="searchValue" type="text" class="form-control" placeholder="Input search value...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span> 

            </div>
        </form>
    </div>
</div>
<form method="post" action="~/Category/Delete">
    <div class="container-fluid row" style="margin-bottom:10px">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> Categories. Page @string.Format("{0}/{1}", Model.Page, Model.PageCount)
        </div>
        <div class="col-md-4 text-right">
            <div class="btn-group">
                <a href="~/Category/Input" class="btn btn-sm btn-primary">Add Category</a>
                <button type="submit" class="btn btn-sm btn-danger">Delete Categories</button>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách Category</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll" />
                    </th>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>Description</th>
                    

                    <th>Action</th>
                </tr>
                <tr>
                    @foreach (var category in Model.Data)
            {
                    <tr>
                        <td>
                            <input type="checkbox" name="categoryIDs" value="@category.CategoryID" />
                        </td>
                        <td>
                            @category.CategoryID
                        </td>
                        <td>
                            @category.CategoryName
                        </td>
                        <td>
                            @category.Description
                        </td>
                        
                        <td>
                            <a class="btn btn-sm btn-default" href="~/Category/Input/@category.CategoryID/">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    }
                    </tr>

                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">

                    @if (Model.Page > 1)
            {
                        <li><a href="~/Category?page=@(Model.Page - 1)@search">&laquo;</a></li>

                    }
                    @if (Model.Page > 3)
            {
                        <li><a href="~/Category?page=1@(search)">1</a></li>
                        <li class="dots"><a href="#">...</a></li>
                    }
                    @if (Model.Page - 2 > 0)
            {
                        <li><a href="~/Category?page=@(Model.Page-2)@search">@(Model.Page - 2)</a></li>
                    }
                    @if (Model.Page - 1 > 0)
            {
                        <li><a href="~/Category?page=@(Model.Page-1)@search">@(Model.Page - 1)</a></li>
                    }
                    <li class="active"><a href="~/Category?page=@Model.Page@search">@Model.Page</a></li>
                    @if (Model.Page + 1 < Model.PageCount + 1)
            {
                        <li><a href="~/Category?page=@(Model.Page+1)@search">@(Model.Page + 1)</a></li>
                    }
                    @if (Model.Page + 2 < Model.PageCount + 1)
            {
                        <li><a href="~/Category?page=@(Model.Page+2)@search">@(Model.Page + 2)</a></li>
                    }
                    @if (Model.Page < Model.PageCount - 2)
            {
                        <li class="dots"><a href="#">...</a></li>
                        <li><a href="~/Category?page=@Model.PageCount@search">@Model.PageCount</a></li>
                    }
                    @*@for (int page = 1; page <= model.pagecount; page++)
                        {

                        if (model.page == page)
                        {
                        <li class="active"><a href="~/Category?page=@page@search">@page</a></li>
                        }
                        else
                        {
                        <li><a href="~/Category?page=@page@search">@page</a></li>
                        }


                        }*@
                    @if (Model.Page < Model.PageCount)
            {
                        <li><a href="~/Category?page=@(Model.Page + 1)@search">&raquo;</a></li>
                    }

                </ul>
            </div>
        </div>
    </form>