﻿@model LiteCommerce.DomainModels.Category
<div class="box box-primary">
    <form role="form" action="~/Category/Input" method="post">
        <div class="box-header text-right">
            <a href="~/Supplier">Back to List</a>
        </div>
        <div class="box-body">
            @Html.ValidationMessage("")
            <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
            <div class="form-group">
                <label>Category Name: @Html.ValidationMessage("CategoryName", new { @style = "color:red" })</label>
                <input type="text" class="form-control" placeholder="Enter Category Name" value="@Model.CategoryName" name="CategoryName">
            </div>
            <div class="form-group">
                <label>Description: @Html.ValidationMessage("Description", new { @style = "color:red" })</label>
                <textarea class="form-control" placeholder="Enter Description" rows="10" name="Description">@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label>Attribute For Category:</label>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name Attribute</th>
                            <th class="text-center" style="width: 90px;">
                                <button type="button" class="btn-add btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="container-items tableForm">

                        @{  if(Model.Attributes != null) { 
                            foreach (var attr in Model.Attributes)
                            {
                                <tr class="controls">
                                    <td>
                                        <div class="form-group required">
                                            <input class="form-control" name="Attributes[]" value="@attr.AttributeName" placeholder="Input Name Attrbute" />
                                        </div>
                                    </td>
                                    <td class="text-center vcenter" style="width: 90px; ">
                                        <button type="button" class="btn-remove btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                                }
                            }
                           
                                <tr class="controls">
                                    <td>
                                        <div class="form-group required">
                                            <input class="form-control" name="Attributes[]" placeholder="Input Name Attrbute" />
                                        </div>
                                    </td>
                                    <td class="text-center vcenter" style="width: 90px; ">
                                        <button type="button" class="btn-remove btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
                                    </td>
                                </tr>
                            
                        }


                    </tbody>
                </table>

            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Supplier">
                Cancel
            </a>
        </div>
    </form>
</div>
