﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LiteCommerce | @ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Themes/Css/main-style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/dist/css/skins/_all-skins.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Themes/AdminLTE/bower_components/select2/dist/css/select2.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->

    <div class="wrapper">
        @{ Html.RenderPartial("_Header");}
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        @{ Html.RenderPartial("_MainSideBar");}
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SmallTitle</small>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- Default box -->
                @RenderBody()
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @{ Html.RenderPartial("_Footer");}
        <!-- Control Sidebar -->
        @{ Html.RenderPartial("_ControlSideBar");}
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Themes/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Themes/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Themes/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Themes/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Themes/AdminLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Themes/AdminLTE/dist/js/demo.js"></script>
    <script src="~/Themes/AdminLTE/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Select2 -->
    <script src="~/Themes/AdminLTE/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Themes/AdminLTE/bower_components/chart.js/Chart.js"></script>


    <script>
        $('.select2').select2()
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })
        $('#selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })
    </script>
    <script>
        $(function () {
            $(document).on('click', '.btn-add', function (e) {
                e.preventDefault();
                var controlForm = $('.tableForm'),
                    currentEntry = controlForm.find('.controls:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlForm);

                newEntry.find('.form-control').val('');

            }).on('click', '.btn-remove', function (e) {
                var thisControl = $(this).parents('tr.controls');
                console.log(thisControl)
                if (!thisControl.is(':first-child'))
                    thisControl.remove();
                else
                    alert('Không thể xoá !!!');

                e.preventDefault();
                return false;
            });
        });
    </script>

    <script>
        $(function () {

            $('#selectboxCategories').change(function () {
                var data = $(this).val();
                var idProduct = $("#ProductID").val();
                //var url = idProduct ? "/Attribute/GetAttribute/" + data : "/Attribute/GetAttribute/" + data+"/"+idProduct;
                //let dataSend = {
                //    ProductID: idProduct,
                //    CategoryID : data
                //}
                var thisControl = $(".tableForm").find("tr:gt(0)").remove();
                // Thêm mới
                if (idProduct) {
                    let dataSend = {
                        ProductID: idProduct,
                        CategoryID: data
                    }
                    $.ajax({
                        type: "POST",
                        url: "/Attribute/GetAttribute/",
                        data: dataSend,
                        async: false,
                        success: function (response) {
                            console.log(response)
                            var tableForm = $('.tableForm');
                            if (response.length > 0) {
                                var t = "";
                                $.each(response, function (index, value) {
                                    t += '<tr class="controls"> <td class="vcenter"> <div class="form-group required"> <select class="form-control" name="keyAttr[]" id="selectboxKeyAttr">';
                                    var AttrDataByCategoryId = getAlllAtribute(data)
                                    $.each(AttrDataByCategoryId, function (i, attr) {
                                        if (value.AttributeID === attr.AttributeID) {
                                            t += '<option value="' + value.AttributeID + '" selected>' + value.AttributeName + '</option>'
                                        } else {
                                            t += '<option value="' + attr.AttributeID + '">' + attr.AttributeName + '</option>'
                                        }
                                    })
                                    t += '</select> </div> </td> <td> <div class="form-group required"> <input class="form-control" value="' + value.AttributeValue + '" name="nameAttr[]" placeholder="Product Attribute Description" /> </div> </td> <td class="text-center vcenter" style="width: 90px; "> <button type="button" class="btn-remove btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></button> </td> </tr>';

                                });
                                tableForm.html(t)
                            } else {
                                var t = "";
                                t += '<tr class="controls"> <td class="vcenter"> <div class="form-group required"> <select class="form-control" name="keyAttr[]" id="selectboxKeyAttr">';
                                var AttrDataByCategoryId = getAlllAtribute(data)
                                $.each(AttrDataByCategoryId, function (i, attr) {
                                    t += '<option value="' + attr.AttributeID + '">' + attr.AttributeName + '</option>'
                                })
                                t += '</select> </div> </td> <td> <div class="form-group required"> <input class="form-control" name="nameAttr[]" placeholder="Product Attribute Description" /> </div> </td> <td class="text-center vcenter" style="width: 90px; "> <button type="button" class="btn-remove btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus"></span></button> </td> </tr>';
                                tableForm.html(t)
                            }


                        },
                        error: function (err) {
                            alert('Error occured :', err);
                        }
                    });
                } else {

                    $.ajax({
                        type: "GET",
                        url: "/Attribute/GetAttribute/" + data,
                        async: false,
                        success: function (response) {
                            console.log(response)
                            var select = $('#selectboxKeyAttr');
                            select.empty();

                            $.each(response, function (index, value) {
                                select.append($('<option></option>').val(value["AttributeID"]).html(value["AttributeName"]))
                            });
                            $('#selectboxKeyAttr').show();
                        },
                        error: function (err) {
                            alert('Error occured :', err);
                        }
                    });
                }


            });
            function getAlllAtribute(id) {
                var data;
                $.ajax({
                    type: "GET",
                    url: "/Attribute/GetAttribute/" + id,
                    async: false,
                    success: function (response) {
                        data = response;
                    },
                    error: function (err) {
                        console.log('Error occured :', err);
                        data = null;
                    }
                });
                return data;

            }

        })
        $(document).ready(function () {

            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".file-upload").on('change', function () {
                readURL(this);
            });

            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
    </script>
    <script>


        $(function () {
            var year = $('#yearSelect').val()
            var salesChartCanvas = $('#salesChart').get(0).getContext('2d');
            // This will get the first returned node in the jQuery collection.
            var salesChart = new Chart(salesChartCanvas);
            var labels = [];
            var counts = [];
            var data = GetYearlyOrder(year)

            $.each(data, function (index, value) {

                var month = "Tháng " + value["Month"]
                labels.push(month);
                counts.push(value["Count"])
            });
            var salesChartData = {
                labels: labels,
                datasets: [
              {
                  label: 'Thống kê Order',
                  fillColor: 'rgba(60,141,188,0.9)',
                  strokeColor: 'rgba(60,141,188,0.8)',
                  pointColor: '#3b8bba',
                  pointStrokeColor: 'rgba(60,141,188,1)',
                  pointHighlightFill: '#fff',
                  pointHighlightStroke: 'rgba(60,141,188,1)',
                  data: counts
              }, ]
            }
            var salesChartOptions = {
                // Boolean - If we should show the scale at all
                showScale: true,
                // Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                // String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                // Number - Width of the grid lines
                scaleGridLineWidth: 1,
                // Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                // Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                // Boolean - Whether the line is curved between points
                bezierCurve: true,
                // Number - Tension of the bezier curve between points
                bezierCurveTension: 0.3,
                // Boolean - Whether to show a dot for each point
                pointDot: true,
                // Number - Radius of each point dot in pixels
                pointDotRadius: 4,
                // Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,
                // Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 20,
                // Boolean - Whether to show a stroke for datasets
                datasetStroke: true,
                // Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,
                // Boolean - Whether to fill the dataset with a color
                datasetFill: true,
                // String - A legend template
                legendTemplate: '<ul class=\'<%=name.toLowerCase()%>-legend\'><% for (var i=0; i<datasets.length; i++){%><li><span style=\'background-color:<%=datasets[i].lineColor%>\'></span><%=datasets[i].label%></li><%}%></ul>',
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                // Boolean - whether to make the chart responsive to window resizing
                responsive: true
            };

            // Create the line chart
            salesChart.Line(salesChartData, salesChartOptions);

            $('#yearSelect').change(function () {
                var year = $(this).val();
                var data = GetYearlyOrder(year)
                var newData = []
                var newLables = []
                $.each(data, function (index, value) {
                    var month = "Tháng " + value["Month"]
                    newLables.push(month);
                    newData.push(value["Count"])
                });
                salesChartData.datasets[0].data = newData;
                salesChartData.labels = newLables;
                salesChart.Line(salesChartData, salesChartOptions);
            })
            function GetYearlyOrder(year) {
                var data;
                $.ajax({
                    type: "POST",
                    url: "/Order/GetOrderYearly",
                    data: {
                        year: year
                    },
                    async: false,
                    success: function (response) {
                        data = response;
                    },
                    error: function (err) {
                        console.log('Error occured :', err);
                        data = null;
                    }
                });
                return data;

            }
            function addData(chart, label, data) {
                chart.data.labels.push(label);
                chart.data.datasets.forEach((dataset) => {
                    dataset.data.push(data);
                });
                chart.update();
            }





        });

    </script>
</body>
</html>
