﻿@{ 
    var dataUser = User.GetUserData();
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@dataUser.Photo" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@dataUser.FullName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> @dataUser.Title</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN MENU</li>
            <li class="@(ViewBag.Title=="DashBoard"?"active":"")">
                <a href="~/DashBoard">
                    <i class="fa fa-dashboard"></i> <span>DashBoard</span>
                </a>
            </li>
            <li class="treeview @(new List<string> {"Manage Suppliers","Manage Customers","Manage Categories","Manage Products","Manage Shippers","Manage Countries"}.Contains(ViewBag.Title)?"active":"")">
                <a href="#">
                    <i class="fa fa-list"></i> <span>Catalog</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@(ViewBag.Title== "Manage Suppliers" ? "active":"")"><a href="~/Supplier"><i class="fa fa-circle-o"></i> Suppliers</a></li>
                    <li class="@(ViewBag.Title== "Manage Customers" ? "active":"")"><a href="~/Customer"><i class="fa fa-circle-o"></i> Customers</a></li>
                    <li class="@(ViewBag.Title== "Manage Categories" ? "active":"")"><a href="~/Category"><i class="fa fa-circle-o"></i> Categories</a></li>
                    <li class="@(ViewBag.Title== "Manage Products" ? "active":"")"><a href="~/Product"><i class="fa fa-circle-o"></i> Products</a></li>
                    <li class="@(ViewBag.Title== "Manage Shippers" ? "active":"")"><a href="~/Shipper"><i class="fa fa-circle-o"></i> Shippers</a></li>
                    <li class="@(ViewBag.Title== "Manage Countries" ? "active":"")"><a href="~/Country"><i class="fa fa-globe"></i> Countries</a></li>
                </ul>
            </li>
            
            <li class="@(ViewBag.Title== "Manage Employees" ? "active":"")">
                <a href="~/Employee">
                    <i class="fa fa-user-circle"></i> <span>Employees</span>
                </a>
            </li>
            <li class="treeview @(ViewBag.Title== "Manage Orders" ? "active":"")">
                <a href="#">
                    <i class="fa fa-money"></i> <span>Manager Oders</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Order"><i class="fa fa-circle-o"></i> List</a></li>
                    <li><a href="~/Order/Create"><i class="fa fa-circle-o"></i> Create New</a></li>
                </ul>
            </li>
           
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>