﻿@model LiteCommerce.DomainModels.Employee
@{

}
<form role="form" action="~/Employee/Input" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-4">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <div class="avatar-wrapper">
                        <img class="profile-pic" src="@User.PhotoPath" />
                        <div class="upload-button">
                            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                        </div>
                        <input value="@User.PhotoPath" class="file-upload" type="file" accept="image/*" name="PhotoPath"/>
                    </div>

                    <h3 class="profile-username text-center">@User.FirstName @User.LastName</h3>

                    <p class="text-muted text-center">@User.Title</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Address :</b> <a class="pull-right">@User.Address</a>
                        </li>
                        <li class="list-group-item">
                            <b>Email :</b> <a class="pull-right">@User.Email</a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="box box-primary">

                <div class="box-header">
                    <h3>Thông tin chi tiết</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <input type="hidden" value="@User.EmployeeID" name="EmployeeID" />
                        <label>Title: @Html.ValidationMessage("Title", new { @style = "color: red" })</label>
                        <input type="text" class="form-control" placeholder="Ex: Sale Manager" value="@User.Title" name="Title">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Fist Name:@Html.ValidationMessage("FirstName", new { @style = "color: red" })</label>
                            <input type="text" class="form-control" placeholder="Fist Name" value="@User.FirstName" name="FirstName">
                        </div>
                        <div class="col-sm-6">
                            <label>Last Name:@Html.ValidationMessage("LastName", new { @style = "color: red" })</label>
                            <input type="text" class="form-control" placeholder="Enter Last Name" value="@User.LastName" name="LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address:</label>
                        <input type="text" class="form-control" placeholder="Address" value="@User.Address" name="Address">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Country:</label>
                            <select class="form-control" name="Country">
                                <option value="">-- Choose Country --</option>
                                @foreach (var country in SelectListHelper.Countries())
                                {
                                    if (User.Country == country.Value)
                                    {
                                        <option value="@country.Value" selected>@country.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@country.Value">@country.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label>City:</label>
                            <input type="text" class="form-control" placeholder="Ex: New Orleans" value="@User.City" name="City">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Birth Date:@Html.ValidationMessage("BirthDate", new { @style = "color: red" })</label>
                            <input type="datetime" class="form-control" value="@User.BirthDate" name="BirthDate">
                        </div>
                        <div class="col-sm-6">
                            <label>Hire Date:@Html.ValidationMessage("HireDate", new { @style = "color: red" })</label>
                            @*<input type="datetime" class="form-control" value="@User.HireDate" name="HireDate">*@
                            <input type="datetime" class="form-control" value="@User.HireDate" name="HireDate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>HomePhone:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input type="text" class="form-control" name="HomePhone" value="@User.HomePhone">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Email:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <input type="text" class="form-control" value="@User.Email" name="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label>Notes:</label>
                            <input type="text" class="form-control" placeholder="notes" value="@User.Notes" name="Notes">
                        </div>
                        <div class="col-sm-6">
                            <label>Password:@Html.ValidationMessage("Password", new { @style = "color: red" })</label>
                            <input type="password" class="form-control" placeholder="Password" value="@User.Password" name="Password">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-save"></i> Save
                    </button>
                    @if (User.EmployeeID != 0)
            {
                        <a class="btn btn-sm btn-success" href="~/Employee/ChangePassword/@User.EmployeeID">
                            Change Password
                        </a>
                    }

                    <a class="btn btn-sm btn-default" href="~/Employee">
                        Cancel
                    </a>
                </div>

            </div>
        </div>
    </div>

</form>
